html[dir="ltr"] body .p-t-30 {
    padding-top: 12px;
}

.navbar-brand {
    margin-left: 60px;
    margin-right: 10px;
}

h1 {
    color: ghostwhite;
}

img.logo {
    max-height: 65px;
}

.btn-primary {
    background-color: #27a9e3; ;
    border-color: #1A759C; ;
}

.btn-primary:hover, .btn-primary.focus,  .btn-primary:focus, btn-primary.active, btn-primary:active {
    background-color: #1A759C; !important;
}