.card-hover {
    border: 1px solid  #cccccc;
}

._brown {
    background-color: #DD8500;
}

._green {
    background-color: #28B779;
}

._yellow {
    background-color: #F9DE20;
}
._red {
    background-color: #D25226;
}

._blue {
    background-color: #1B98CD;
}

.temp {
    color: #ffffff;
}

code {
    padding: 5px;
    color: rgba(64, 64, 64, 0.69);
}